@import url(./resets.css);
@import url(./normalize.css);
@import url(./variables.css);
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v20-cyrillic-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/inter-v20-cyrillic-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/inter-v20-cyrillic-700.woff2') format('woff2');
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-variant-numeric: lining-nums;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-origin: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(34, 83, 101) 44%,
    rgb(244, 115, 62) 44%,
    rgb(244, 115, 62) 57%,
    rgb(246, 156, 67) 57%,
    rgb(246, 156, 67) 86%,
    rgb(249, 201, 69) 86%
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(34, 83, 101) 44%,
    rgb(244, 115, 62) 44%,
    rgb(244, 115, 62) 57%,
    rgb(246, 156, 67) 57%,
    rgb(246, 156, 67) 86%,
    rgb(249, 201, 69) 86%
  );
  background: linear-gradient(
    45deg,
    rgb(34, 83, 101) 44%,
    rgb(244, 115, 62) 44%,
    rgb(244, 115, 62) 57%,
    rgb(246, 156, 67) 57%,
    rgb(246, 156, 67) 86%,
    rgb(249, 201, 69) 86%
  );
}
